@import "tailwindcss";

/* @import "tailwindcss"; */

/* You can also add a nice smooth scroll and default font here */
/* html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
} */